#
#Folders
*_tmp
log\
*\target*
#*\resources
\.settings
*\bin
*\lib
*\log*
\test-output
*\draft*
.allure
\WebDriver


#
#Files


*Draft*.*
#*RUN*.*
*.pmd
*.recommenders
*.metadata
\.classpath
\.project
*.class
#*.gitignore
*.png
*.jpg
*.txt
*.tmp
#*.exe
#*.log
*.jar
*.tar
*.war
*.zip
*.7z
*.deb
*.rpm
*.dmg
*.msi
*.sh
*.bat
*.settings
*.classpath
*.project
*.pydevproject
*.iml
*.ipr
.idea
*.lnk
*.data
*.checkstyle
/WSCCUI/
